<h3>
  Kilometers rode during current week:
  <strong><%= @taxi_rides_statistics_presenter.kilometers_rode_during_current_week %></strong>
</h3>
<h3>
  Money spent during current week:
  <strong><%= "#{number_with_precision(@taxi_rides_statistics_presenter.money_spent_during_current_week, precision: 2)} EUR" %></strong>
</h3>


<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Day</th>
      <th>Rides sum</th>
      <th>Avg. ride</th>
      <th>Avg. fare</th>
      <th>Taxis</th>
    </tr>
  </thead>
  <tbody>
    <% @rows.each do |r| %>
      <tr>
        <td><%= r[0] %></td>
        <td><%= "#{r[1]}km" %></td>
        <td><%= "#{r[2]}km" %></td>
        <td><%= "#{r[3]} EUR" %></td>
        <td><%= r[4] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @pagination %>
